#previewBtn {
  background-color: #00b4d8;
}
#downloadBtn {
  background-color: #03045e;
}
#previewBtn,
#downloadBtn {
  transition-duration: 0.3s;
}
#previewBtn:hover {
  transform: scale(1.02);
  color: #000;

  background-color: #e8ffff;
}
#downloadBtn:hover {
  transform: scale(1.02);
  color: #000;

  background-color: #e8ffff;
}


#cvModelSelect{
  background-color: #393E6F;
  transition-duration: 0.3s;
  color:#fff;
}

#cvModelSelect:hover{
  background-color: #90E0EF ;
  color:#000;
}

